<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/view.css') }}">
    <title>Results</title>
</head>
<body>
    <div class="container">
        <div class="grid">
            <div class="g1">
                <div class="outerDiv">
                    <div class="innerDiv">
                        <h1>Results</h1>
                        <p class="explain">After the analysis of the whole graph and calculating the modularity of each and every node, algorithm came to a following conclusion</p>
                        <h3>Max Modularity: {{ maxmodularity }}</h3>
                        <h3>Number of communities: {{ length }}</h3>
                        <p id="explain">Graph communities: {{ graphcoms }}</p>
                    </div>
                </div>
            </div>
            <div class="g2">
                <div class="outerDiv">
                    <div class="innerDiv">
                        <div class="svg-rotate">
                            <img src="{{url_for('static', filename='geometry.svg')}}" align="middle" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>